<link rel="stylesheet" href='/assets/carousel/'>
<!-- START SECTION -->
<div class="section hero text-center background-dark dark-bg">
<div class="background-image" style="background: url('/assets/img_bg_1.jpg') no-repeat center center; background-size: cover; opacity: .5;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Valorizamos o seu projecto!</h2>
        </div>
    </div>
</div>
</div>
<!--.section -->

<div class="" style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="section-description">A Plurália tem como objectivo ser parceiro no crescimento e desenvolvimento da sua Organização ou Empresa.</p>
                <p class="section-description">Ajudamo-lo a desenvolver ideias, negócios e a implementar projectos, baseados em dados precisos e pertinentes.</p>
                <p class="section-description">Com a nossa implantação por todo o território nacional, estamos habilitados para o ajudar a fazer do seu projecto um Êxito!.</p>
                </p>        
            </div>
        </div>
    </div>
</div>
<!-- START SECTION -->
<div class="section">
<div class="container">
    <div class="row">
         <div class="col-md-12">
            <h2 class="text-center" style="margin-bottom: 30px">Áreas de Consultaria</h2>
         </div>
        <div class="col-md-4">
            <div class="entry">
                <div class="entry-media">
                    <a href="#" title="">
                        <span class="absolute-wrapper"></span>
                        <img src="/assets/blog1.jpg" alt="" class="img-responsive" />
                    </a>
                </div>
                <h3 class="entry-title"><a href="#" title="">Tecnologias de Informação</a></h3>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
            </div><!--/.entry-->
        </div>
        <div class="col-md-4">
            <div class="entry">
                <div class="entry-media">
                    <a href="#" title="">
                        <span class="absolute-wrapper"></span>
                        <img src="/assets/blog2.jpg" alt="" class="img-responsive" />
                    </a>
                </div>
                <h3 class="entry-title"><a href="#" title="">Socio Comunitária</a></h3>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
            </div><!--/.entry-->
        </div>
        <div class="col-md-4">
            <div class="entry">
                <div class="entry-media">
                    <a href="#" title="">
                        <span class="absolute-wrapper"></span>
                        <img src="/assets/blog3.jpg" alt="" class="img-responsive" />
                    </a>
                </div>
                <h3 class="entry-title"><a href="#" title="">Banca e Finanças</a></h3>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
            </div><!--/.entry-->
        </div>
    </div><!--/.row-->
</div><!--/.container-->
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="section background-light" id='servicos'>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Nossos Projectos</h2>
            <p class="section-description">Laudantium ullam consequatur repellat debitis maxime.</p>
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-graduation-cap"></i>
                <h3>Formação</h3>
                <p>O intento de propiciar momentos formativos de carácter profissional...</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-briefcase"></i>
                <h3>Consultoria</h3>
                <p>Ajudamo-lo a desenvolver ideias, negócios e a implementar projectos...</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-network-wired"></i>
                <h3>Gestão de Projectos</h3>
                <p>Apostamos na criação e dinamização de empreendimentos pedagógicos...</p>
            </div><!--/.service-block-->
        </div>
    </div>
</div>
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="" style="margin-top: 30px;">
<div class="">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Nossos Parceiros</h2>
            <a href="/parceiros" class='btn btn-secundary'>Ver todos</a>
        </div>
        <div class="col-md-12">
           <div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
        </div>
    </div><!--/.row-->
</div><!--/.container-->
</div>
<!--/.section -->

