<!-- START SECTION -->
<div class="section hero text-center background-dark dark-bg">
<div class="background-image" style="background: url('/assets/img_bg_2.jpg') no-repeat center center; background-size: cover; opacity: .5;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Formamos pessoas!</h2>
            <p class="lead">O intento da Plurália passa por propiciar momentos formativos de carácter profissional</p>
            <ul class="list-inline">
                <li><a href="/servicos/formacao#form-texto" title="Learn More"class="btn btn-md btn-primary">Saiba mais ></a></li>           
            </ul>
        </div>
    </div>
</div>
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="section background-light" id="centros" style='padding-top: 130px; padding-bottom: 130px;'>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Nossas formações</h2>
            <p class="section-description">Laudantium ullam consequatur repellat debitis maxime.</p>
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <h3><img src='http://pluralia.net/Content/app/images/pluriform.png?width=200' class='formacao'></h3>
                <h3>Puriform</h3>
                <p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
                <a href="#" title="pluriform.co.ao" class="btn btn-sm btn-info">Pluriform</a>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
            <h3><img class='formacao' src='https://scontent.flad1-1.fna.fbcdn.net/v/t1.0-1/p200x200/30740873_1631389926979159_7855590455348559872_n.png?_nc_cat=105&_nc_ht=scontent.flad1-1.fna&oh=356a1374d8084f1cb2fe13d0a20f5d96&oe=5CA10FBD'></h3>
                <h3>ATL Nova Vida</h3>
                <p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
                <a href="#" title="atlnovavida.co.ao" class="btn btn-sm btn-info">Atl Nova Vida</a>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <h3><img class='formacao' src='https://scontent.flad1-1.fna.fbcdn.net/v/t1.0-1/p200x200/26219990_164828964135814_6939436002750625821_n.jpg?_nc_cat=107&_nc_ht=scontent.flad1-1.fna&oh=5c66d438e45f25b2927fb7a4b40b999c&oe=5C732D10'></h3>
                <h3>Centro Infatil KK+</h3>
                <p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
                <a href="#" title="kkmais.co.ao" class="btn btn-sm btn-info">Centro Infantil KK+</a>
            </div><!--/.service-block-->
        </div>
    </div>
</div>
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="section hero text-center background-primary dark-bg" id='form-texto'>
<div class="background-image" style="background: url(assets/hero.jpg) no-repeat fixed center center; background-size: cover; opacity: .2;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="text-left">
                O intento da Plurália passa por propiciar momentos formativos de carácter profissional, científico e de intercâmbio cultural em diferentes áreas de intervenção sócio-económicas. Em todos os nossos projectos procuramos introduzir práticas pedagógicas e profissionais inovadoras à medida das carências e necessidades diagnosticadas a particulares, organizações, empresas, associações, entre outras.
            </p>
            <p class="text-left">
                Consideramos que a excelência do serviço prestado ao cliente só poderá ser alcançada com um único projeto de formação marcado pela qualidade dos recursos humanos, pela inovação das metodologias utilizadas e pela adaptação constante às necessidades das entidades visadas.
            </p>
            <p class="text-left">
                Numa lógica organizacional integradora, apostamos na produção de instrumentos pedagógicos e recursos práticos que favoreçam, não só, o processo formativo, mas sobretudo a transição dos conhecimentos para as práticas de trabalho, sob a forma de cadernos formativos, manuais técnicos, conteúdos digitais e compilações nos mais variados formatos.
            </p>
        </div>
    </div>
    <div class="row" style='padding-top: 40px; padding-bottom: 0'>
        <div class="col-md-12">
            <ul class="list-inline">
                <li><a href="/servicos/formacao#centros" title="Veja os nossos centros"class="btn btn-md btn-primary">Veja os nossos centros de Formações&uArr;</a></li>           
            </ul>
        </div>
    </div>
</div>
</div>
<!--/.section -->

