<link rel="stylesheet" href='/assets/carousel/'>
<!-- START SECTION -->
<div class="section hero text-center background-dark dark-bg">
<div class="background-image" style="background: url('/assets/img_bg_4.jpg') no-repeat center center; background-size: cover; opacity: .5;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Edificamos Projectos Educativos!</h2>
        </div>
    </div>
</div>
</div>
<!--.section -->

<div class="info-gestao" style="margin-top: 100px; margin-bottom: 100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="section-description">A Plurália, através do conhecimento profundo do território nacional e do envolvimento de profissionais com percursos ligados à gestão e coordenação de projectos educativos e formativos de referência internacional, aposta na criação e dinamização de empreendimentos pedagógicos que visam elevar os níveis de qualidade da oferta formativa nacional.</p>
                <p class="section-description">Olhamos para a realidade e sentimos que poderemos ser úteis no combate  às assimetrias educativas existente, promovendo a edificação de Projectos Intergeracionais e transversais aos diferentes ramos da Educação.</p>
                <p class="section-description">Da Plurália, o País pode esperar Ambição na Estratégia, Exigência no Plano, Rigor no Projecto e Excelência nos Resultados.<br>Os nossos Projectos são o espelho dos nossos Valores.</p>
                </p>        
            </div>
        </div>
    </div>
</div>

<!-- START SECTION -->
<div class="section background-light" id='servicos'>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Nossos Projectos</h2>
            <p class="section-description">Laudantium ullam consequatur repellat debitis maxime.</p>
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-graduation-cap"></i>
                <h3>Formação</h3>
                <p>O intento de propiciar momentos formativos de carácter profissional...</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-briefcase"></i>
                <h3>Consultoria</h3>
                <p>Ajudamo-lo a desenvolver ideias, negócios e a implementar projectos...</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-network-wired"></i>
                <h3>Gestão de Projectos</h3>
                <p>Apostamos na criação e dinamização de empreendimentos pedagógicos...</p>
            </div><!--/.service-block-->
        </div>

        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-graduation-cap"></i>
                <h3>Formação</h3>
                <p>O intento de propiciar momentos formativos de carácter profissional...</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-briefcase"></i>
                <h3>Consultoria</h3>
                <p>Ajudamo-lo a desenvolver ideias, negócios e a implementar projectos...</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-network-wired"></i>
                <h3>Gestão de Projectos</h3>
                <p>Apostamos na criação e dinamização de empreendimentos pedagógicos...</p>
            </div><!--/.service-block-->
        </div>

        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-graduation-cap"></i>
                <h3>Formação</h3>
                <p>O intento de propiciar momentos formativos de carácter profissional...</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-briefcase"></i>
                <h3>Consultoria</h3>
                <p>Ajudamo-lo a desenvolver ideias, negócios e a implementar projectos...</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-network-wired"></i>
                <h3>Gestão de Projectos</h3>
                <p>Apostamos na criação e dinamização de empreendimentos pedagógicos...</p>
            </div><!--/.service-block-->
        </div>
    </div>
</div>
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="" style="margin-top: 30px;">
<div class="">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Nossos Parceiros</h2>
            <a href="/parceiros" class='btn btn-secundary'>Ver todos</a>
        </div>
        <div class="col-md-12">
           <div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
        </div>
    </div><!--/.row-->
</div><!--/.container-->
</div>
<!--/.section -->

