<!-- START SECTION -->
<div class="section hero text-center background-dark dark-bg">
<div class="background-image" style="background: url(assets/img_bg_3.jpg) no-repeat center center; background-size: cover; opacity: .4;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Bem vindo a Plurália</h2>
            <!--<p class="lead">Formação, consultoria, gestão de projectos e negócios.</p>
            <ul class="list-inline">
                <li><a href="/servicos/formacao" title="Formação" class="btn btn-md btn-danger">Formação</a></li>
                <li><a href="/servicos/consultoria" title="Consultoria" class="btn btn-md btn-primary">Consultoria</a></li>
                <li><a href="/servicos/gestao-de-projectos" title="Gestão de Projectos" class="btn btn-md btn-info">Gestão de Projectos</a></li>               
            </ul>-->
            <p class='lead'>Laudantium ullam consequatur repellat debitis maxime.</p>
            <ul class="list-inline">
                <li><a href="/#servicos" title="Serviços" class="btn btn-md btn-info">Serviços</a></li>
                <li><a href="/sobre-nos" title="Sobre Nós" class="btn btn-md btn-success">Sobre Nós</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="section background-light" id='servicos'>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Nossos Serviços</h2>
            <p class="section-description">Laudantium ullam consequatur repellat debitis maxime.</p>
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-graduation-cap"></i>
                <h3>Formação</h3>
                <p>O intento de propiciar momentos formativos de carácter profissional...</p>
                <a href="/servicos/formacao" title="Saiba mais" class="btn btn-sm btn-primary">Saiba mais ></a>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-briefcase"></i>
                <h3>Consultoria</h3>
                <p>Ajudamo-lo a desenvolver ideias, negócios e a implementar projectos...</p>
                <a href="/servicos/consultoria" title="Saiba mais" class="btn btn-sm btn-primary">Saiba mais ></a>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-center">
                <i class="fas fa-network-wired"></i>
                <h3>Gestão de Projectos</h3>
                <p>Apostamos na criação e dinamização de empreendimentos pedagógicos...</p>
                <a href="/servicos/gestao-de-projectos" title="Saiba mais" class="btn btn-sm btn-primary">Saiba mais ></a>
            </div><!--/.service-block-->
        </div>
    </div>
</div>
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="section hero text-center background-primary dark-bg">
<div class="background-image" style="background: url(assets/hero.jpg) no-repeat fixed center center; background-size: cover; opacity: .2;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-uppercase letter-spacing-md font-weight-lg margin-zero">A Nossa Meta é a Excelência!</h3>
        </div>
    </div>
</div>
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="section" id="noticias">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Notícias Recentes</h2>
            <p class="section-description">Laudantium ullam consequatur repellat debitis maxime.</p>
        </div>
        <div class="col-md-4">
            <div class="entry">
                <div class="entry-media">
                    <a href="#" title="">
                        <span class="absolute-wrapper"></span>
                        <img src="assets/blog1.jpg" alt="" class="img-responsive" />
                    </a>
                </div>
                <h3 class="entry-title"><a href="#" title="Yelp Is Awful for Everyone Involved">Yelp Is Awful for Everyone Involved</a></h3>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                <a href="#" title="Learn More" class="btn read-more btn-sm btn-primary">Learn More</a>
            </div><!--/.entry-->
        </div>
        <div class="col-md-4">
            <div class="entry">
                <div class="entry-media">
                    <a href="#" title="">
                        <span class="absolute-wrapper"></span>
                        <img src="assets/blog2.jpg" alt="" class="img-responsive" />
                    </a>
                </div>
                <h3 class="entry-title"><a href="#" title="2 Best Sites to Build Your Own Website">2 Best Sites to Build Your Own Website</a></h3>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                <a href="#" title="Learn More" class="btn read-more btn-sm btn-primary">Learn More</a>
            </div><!--/.entry-->
        </div>
        <div class="col-md-4">
            <div class="entry">
                <div class="entry-media">
                    <a href="#" title="">
                        <span class="absolute-wrapper"></span>
                        <img src="assets/blog3.jpg" alt="" class="img-responsive" />
                    </a>
                </div>
                <h3 class="entry-title"><a href="#" title="2 Best Sites to Build Your Own Website">2 Best Sites to Build Your Own Website</a></h3>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                <a href="#" title="Learn More" class="btn read-more btn-sm btn-primary">Learn More</a>
            </div><!--/.entry-->
        </div>
    </div><!--/.row-->
</div><!--/.container-->
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="section hero text-center background-dark dark-bg">
<div class="background-image" style="background: url(assets/hero.jpg) no-repeat fixed center center; background-size: cover; opacity: .2;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-uppercase letter-spacing-md font-weight-lg margin-zero">Marcamos presença no crescimento de Angola!</h3>
        </div>
    </div>
</div>
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="section" id="contactos">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Contacte-nos</h2>
            <p class="section-description">Laudantium ullam consequatur repellat debitis maxime.</p>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form id="contact" method="post" class="form" role="form">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input class="form-control" id="name" name="nome" placeholder="Nome" type="text" required />
                    </div>
                    <div class="col-md-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
                    </div>
                </div>
                <textarea class="form-control" id="message" name="mensagem" placeholder="Mensagem" rows="5"></textarea>
                <br />
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!--/.row-->
</div><!--/.container-->
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="section hero text-center background-light">
<div class="background-image" style="background: url(assets/hero.jpg) no-repeat fixed center center; background-size: cover; opacity: .2;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-uppercase letter-spacing-md font-weight-lg margin-zero">Abraçamos os Maiores Desafios!</h3>
        </div>
    </div>
</div>
</div>
<!--/.section -->