<link rel="stylesheet" href='/assets/carousel/'>
<style>
    .text-left {
        font-size: 1.1em;
    }
    .line {
        line-height: 2em;
    }
</style>
<!-- START SECTION -->
<div class="section hero text-center background-dark dark-bg">
<div class="background-image" style="background: url('/assets/img_bg_1.jpg') no-repeat center center; background-size: cover; opacity: .5;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="wow pulse" data-wow-iteration="infinite" data-wow-duration="1500ms">Quem Somos</h2>
        </div>
    </div>
</div>
</div>
<!--.section -->

<div style="margin-top: 100px"  class="wow fadeInDown mb-5 line" data-wow-duration="1s" data-wow-delay="1s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <h3>A Empresa</h3>
                <p class="section-description">A Plurália é uma empresa privada de direito angolano que nasce da congregação de vontades entre um grupo de académicos e profissionais com vasta experiência internacional em formação, consultoria e gestão de projectos e negócios.</p>        
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 100px "  class="wow fadeInDown mb-5 line" data-wow-duration="1s" data-wow-delay="1s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <h3>Missão</h3>
                <p class="section-description">Incrementar uma orientação clara e eclética que responda às diferentes necessidades e identidades culturais de todo o território nacional, promovendo oportunidades de desenvolvimento sustentável que visam o aumento da competitividade económica do país e a equidade social.</p>        
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 100px" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Valores</h3><br>        
            </div>
            <table class="table table-hover">
                <tr>
                    <td rowspan="20" style="vertical-align:middle; text-align:center; font-size:10em;">10</td>
                <tr>
                <tr>
                    <td>Talento</td>
                <tr>
                <tr>
                    <td>Humanismo</td>
                <tr>
                <tr>
                    <td>Excelência</td>
                <tr>
                <tr>
                    <td>Pluralidade</td>
                <tr>
                <tr>
                    <td>Inclusão</td>
                <tr>
                <tr>
                    <td>Responsabilidade Social</td>
                <tr>
                <tr>
                    <td>Ética</td>
                <tr>
                <tr>
                    <td>Tolerância</td>
                <tr>
                <tr>
                    <td>Justiça</td>
                <tr>
            </table>
        </div>
    </div>
</div>

<!-- START SECTION -->
<div class="section background-light" id='servicos'>
<div class="container">
    <div class="row">
        <!--<div class="col-md-12 text-center">
            <h2 class="section-title">Nossos Projectos</h2>
            <p class="section-description">Laudantium ullam consequatur repellat debitis maxime.</p>
        </div>-->
        <div class="col-md-4">
            <div class="service-block text-left">
                <h3>Desafio</h3>
                <p>Através do envolvimento de recursos humanos de inquestionável experiência empresarial, pedagógica e formativa, tanto em Angola como noutros países de língua oficial portuguesa, a Plurália assume o desafio de apostar na consultadoria e formação de qualidade para entidades públicas e privadas em prol da qualificação dos recursos humanos a laborarem em todo o território nacional.</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-left">
                <h3>Excelência</h3>
                <p>Consideramos que a excelência do serviço prestado ao cliente só poderá ser alcançada com um único projeto de formação e consultadoria marcado pela qualidade dos recursos humanos, pela inovação das metodologias utilizadas e pela adaptação constante às necessidades das entidades visadas.</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-left">
                <h3>Educação</h3>
                <p>No que concerne à vertente educativa, o nosso intento passa por propiciarmos momentos formativos de carácter profissional, científico e de intercâmbio cultural em diferentes áreas de intervenção sócio-económicas. Em todos os nossos projectos procuramos introduzir práticas pedagógicas e profissionais inovadoras à medida das carências e necessidades diagnosticadas a particulares, organizações, empresas, associações, entre outras.</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-left">
                <h3>Organização</h3>
                <p>Numa lógica organizacional integradora, apostamos na produção de instrumentos pedagógicos e recursos práticos que favoreçam, não só, o processo formativo, mas sobretudo a transição dos conhecimentos para as práticas de trabalho, sob a forma de cadernos formativos, manuais técnicos, conteúdos digitais e compilações nos mais variados formatos.</p>
            </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
            <div class="service-block text-left">
                <h3>Dinâmica</h3>
                <p>Num outro domínio, a Plurália empreende e gere estabelecimentos de ensino dos diferentes níveis, criando e dinamizando projetos pedagógicos, científicos e culturais de excelência. Abordamos a Educação de forma Integral, apostando no desenvolvimento eclético e harmonioso do Ser Humano.</p>
            </div><!--/.service-block-->
        </div>
    </div>
</div>
</div>
<!--/.section -->

<!-- START SECTION -->
<div class="" style="margin-top: 30px;">
<div class="">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Nossos Parceiros</h2>
            <a href="/parceiros" class='btn btn-secundary'>Ver todos</a>
        </div>
        <div class="col-md-12">
           <div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
        </div>
    </div><!--/.row-->
</div><!--/.container-->
</div>
<!--/.section -->

